<div class="container-fluid sfondo my-5">
  <div *ngIf="gastronomia" class="col-lg-8 col-md-10 col-sm-12 mx-auto">
    <div class="card shadow-lg">
      <img [src]="gastronomia.imageUrl" alt="Immagine di {{ gastronomia.nome }}" class="card-img-top rounded-top" />

      <div class="card-body">
        <div class="d-flex justify-content-end">
          <i *ngIf="!isFavorited(gastronomia.id)" class="bi bi-star starPreferiti" (click)="aggiungiAiPreferiti(gastronomia.id)" title="Aggiungi ai preferiti"></i>
          <i *ngIf="isFavorited(gastronomia.id)" class="bi bi-star-fill starPreferiti" (click)="rimuoviDaiPreferiti(gastronomia.id)" title="Rimuovi dai preferiti"></i>
        </div>

        <div class="card-title my-3 text-center">
        <h4>{{ gastronomia.nome }}</h4>
        </div>

        <div class="card-text mb-4">
         <p> <strong>Indirizzo:</strong> {{ gastronomia.indirizzo }}</p>
          <p><strong>Telefono</strong> {{ gastronomia.telefono }}</p>
          <p><strong>Descrizione:</strong> {{ gastronomia.descrizione }}</p>
          <p><strong>Tipo:</strong> {{ gastronomia.tipoGastronomia }}</p>
         <p><strong>Prezzo medio:</strong> {{ gastronomia.prezzoMedio | currency:'EUR' }}</p>
        </div>

     <div class="button-group">
        <!-- BUTTON RECENSIONI -->
        <button type="button" class="btn mx-3" (click)="loadRecensioniForGastronomia(gastronomia.id)">
          Recensioni
        </button>

        <!-- MODULO PER INSERIRE RECENSIONE -->
        <div *ngIf="gastronomia.id === recensioneForGastronomiaId" class="mt-4">
          <div class="custom-color text-white">
            Lascia una recensione:
          </div>
          <div>
            <form (ngSubmit)="onSubmitRecensioneForm(gastronomia.id)">

              <div class="mb-3">
                <label for="valutazione" class="form-label">Valutazione:</label>
                <div id="valutazione" class="mb-3">
                  <span *ngFor="let star of stars; let i = index" (click)="selectStar(i)">
                    <i class="bi" [ngClass]="star ? 'bi-star-fill' : 'bi-star'"></i>
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label for="commento" class="form-label">Commento:</label>
                <textarea [(ngModel)]="nuovaRecensione.commento" name="commento" class="form-control" id="commento"
                  rows="3"></textarea>
              </div>

              <button type="submit" class="btn custom-color">Invia recensione</button>

            </form>
          </div>
        </div>

        <!-- VISUALIZZA RECENSIONI -->
        <app-recensione *ngIf="gastronomia.id === recensioneForGastronomiaId"
          [recensioni]="selectedRecensioni"></app-recensione>




        <!-- BUTTON MOSTRA FORM PRENOTAZIONE -->
        <button (click)="togglePrenotazioneForm(gastronomia.id)" class="btn">
          Prenota</button>

        <!-- MODULO PRENOTAZIONE -->
        <div *ngIf="prenotazioneGastronomiaId === gastronomia.id">
          <app-prenotazione [gastronomiaId]="gastronomia.id"></app-prenotazione>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center">

      <div class="col-md-4 text-center">
        <h5><strong>Collegamenti Utili</strong></h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white"><i class="bi bi-house-door mx-2"></i>Home</a></li>
          <li><a href="#" class="text-white"><i class="bi bi-list-check mx-2"></i>Menu</a></li>
          <li><a href="#" class="text-white"><i class="bi bi-envelope-open mx-2"></i>Contattaci</a></li>
          <li><a href="#" class="text-white"><i class="bi bi-calendar-check mx-2"></i>Prenota un tavolo</a></li>
        </ul>
      </div>

      <div class="col-md-4 text-center">
        <h5><strong>Contatti</strong></h5>
        <address>
          Via Roma, 123<br>
          00100 Roma, Italia<br>
          Tel: +39 06 12345678<br>
          Email: info@gastronomiaromana.it
        </address>
      </div>

      <div class="col-md-4 text-center">
        <h5><strong>Seguici sui Social</strong></h5>
         <a href="https://github.com/lucawar" class="text-white mx-3"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/luca-guerra-505654143/" class="text-white mx-3"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="text-white mx-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white mx-3"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-white mx-3"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    © 2023 Gastronomia Romana. Tutti i diritti riservati.
  </div>
</footer>
