<div class="container-fluid">
  <div *ngIf="isLoading" class="spinner-container">
    <div
      class="spinner"
      style="
        border: 16px solid #f3f3f3;
        border-top: 16px solid #b22222;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
      "
    ></div>
  </div>

  <select
    class="custom-select"
    [(ngModel)]="selezionaTipo"
    (change)="getGastronomieByTipo()"
  >
    <option value="">Tutte le gastronomie</option>
    <option *ngFor="let tipoGastronomie of tipo">{{ tipoGastronomie }}</option>
  </select>

  <select
    class="custom-select"
    [(ngModel)]="selezionaPriceRange"
    (change)="getGastronomiaByPriceRange()"
  >
    <option value="">Tutti i prezzi</option>
    <option value="0-50">0 - 50</option>
    <option value="50-100">50 - 100</option>
    <option value="100-150">100 - 150</option>
    <option value="200-250">200 - 250</option>
  </select>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mt-5" *ngFor="let gastronomia of gastronomie">
        <div class="card mb-4">
          <img
            [src]="gastronomia.imageUrl"
            alt="Immagine di {{ gastronomia.nome }}"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">{{ gastronomia.nome }}</h5>
            <p class="card-text">
              Indirizzo: {{ gastronomia.indirizzo }}<br />
              Telefono: {{ gastronomia.telefono }}<br />
              Descrizione: {{ gastronomia.descrizione }}<br />
              Tipo: {{ gastronomia.tipoGastronomia }}<br />
              Prezzo medio: {{ gastronomia.prezzoMedio }}
            </p>

            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#menuModal"
              (click)="loadMenuForGastronomia(gastronomia.id)"
            >
              Visualizza Menu
            </button>

            <!-- Modal (Only if there's a selected menu) -->
            <div
              *ngIf="selectedMenu"
              class="modal fade"
              id="menuModal"
              tabindex="-1"
              aria-labelledby="menuModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="menuModalLabel">
                      {{ gastronomia.nome }}
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <!-- Example usage of *ngModel -->

                    <app-menu [menuItems]="selectedMenu.piatti"></app-menu>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Chiudi
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- button per visualizzare le recensioni della gastronomia -->
            <button
              class="mx-3"
              (click)="loadRecensioniForGastronomia(gastronomia.id)"
            >
              Visualizza Recensioni
            </button>

            <!-- Visualizza le recensioni della gastronomia una volta spinto il button -->
            <app-recensione
              *ngIf="gastronomia.id === recensioneForGastronomiaId"
              [recensioni]="selectedRecensioni"
            ></app-recensione>

            <!-- Modulo per inserire una recensione -->
            <div *ngIf="gastronomia.id === recensioneForGastronomiaId">
              <h5>Lascia una recensione:</h5>
              <form (ngSubmit)="onSubmitRecensioneForm(gastronomia.id)">
                <label>
                  Valutazione:
                  <span
                    *ngFor="let star of stars; let i = index"
                    (click)="selectStar(i)"
                  >
                    <i
                      class="bi"
                      [ngClass]="star ? 'bi-star-fill' : 'bi-star'"
                    ></i>
                  </span>
                </label>
                <br />
                <label>
                  Commento:
                  <textarea
                    [(ngModel)]="nuovaRecensione.commento"
                    name="commento"
                  ></textarea>
                </label>
                <br />
                <button type="submit">Invia recensione</button>
              </form>
            </div>
            <!-- button per visualizzare il form di prenotazione -->
            <button (click)="togglePrenotazioneForm(gastronomia.id)">
              Prenota
            </button>
            <app-prenotazione
              *ngIf="prenotazioneGastronomiaId === gastronomia.id"
              [gastronomiaId]="gastronomia.id"
            ></app-prenotazione>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-buttons">
    <button class="btn-custom" [disabled]="page <= 0" (click)="previousPage()">
      Precedente
    </button>
    <button class="btn-custom" (click)="nextPage()">Successivo</button>
  </div>
</div>
