 <div class="container-fluid sfondo">
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>

  <div class="d-flex align-items-baseline justify-content-between">
    <div class="d-flex">
    <div>
  <select class="custom-select" [(ngModel)]="selezionaTipo" (change)="getGastronomieByTipo()">
    <option value="">Tutte le gastronomie</option>
    <option *ngFor="let tipoGastronomie of tipo">{{ tipoGastronomie }}</option>
  </select>
</div>

<div>
  <select class="custom-select" [(ngModel)]="selezionaPriceRange" (change)="getGastronomiaByPriceRange()">
    <option value="">Tutti i prezzi</option>
    <option value="0-50">0 - 50</option>
    <option value="50-100">50 - 100</option>
    <option value="100-150">100 - 150</option>
    <option value="200-250">200 - 250</option>
  </select>
</div>
</div>

  <div class="input-group me-4 custom-select" style="width:25%">
    <input type="text" class="form-control" placeholder="Cerca per nome" [(ngModel)]="selezionaNome" name="selezionaNome"  (ngModelChange)="findByImputNomeGastronomia($event)">
    <div class="input-group-append">
      <button (click)="getGastronomiaByNome()" class="btn btn-danger" type="button">Cerca</button>
    </div>
  </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-5" *ngFor="let gastronomia of gastronomie">
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="locale-name">{{ gastronomia.nome }}</h3>
          <i *ngIf="!isFavorited(gastronomia.id)" class="bi bi-star starPreferiti"
            (click)="aggiungiAiPreferiti(gastronomia.id)" title="Aggiungi ai preferiti"></i>
          <i *ngIf="isFavorited(gastronomia.id)" class="bi bi-star-fill starPreferiti"
            (click)="rimuoviDaiPreferiti(gastronomia.id)" title="Rimuovi dai preferiti"></i>
        </div>
        <img [src]="gastronomia.imageUrl" alt="Immagine di {{ gastronomia.nome }}" />
        <div class="button-group d-flex justify-content-evenly hover-content">
          <button class="btn" [routerLink]="['/gastronomia', gastronomia.id]">Dettagli</button>
          <!-- BUTTON MENU + APRE MODALE -->
          <button type="button" class="btn" data-bs-toggle="modal" [attr.data-bs-target]="'#menuModal' + gastronomia.id"
            (click)="loadMenuForGastronomia(gastronomia.id)">
            Visualizza Menu
          </button>
        </div>
        <!-- MODALE -->
        <div *ngIf="selectedMenu" class="modal fade light-modal" [attr.id]="'menuModal' + gastronomia.id" tabindex="-1"
          aria-labelledby="menuModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="menuModalLabel">
                  {{ gastronomia.nome }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <!-- VISUALIZZA MENU -->
                <app-menu [menuItems]="selectedMenu.piatti"></app-menu>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">
                  Chiudi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-buttons">
    <button class="btn-customPage" [disabled]="page <= 0" (click)="previousPage()">
      Precedente
    </button>
    <button class="btn-customPage" (click)="nextPage()">Successivo</button>
  </div>
</div>
