.card {
  background-color: #FFFFFF;
  border: 1px solid #B22222;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  margin: 0;
}

.card button {
  padding: 8px 15px;
  border-radius: 20px;
  background-color: #8B0000;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card button:hover {
  transform: translateY(-3px);
  background-color: #b22222;
}

.card button:active {
  transform: translateY(1px);
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-custom {
  margin: 0 5px;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background-color: #8B0000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color:#b22222;
}

.btn-custom[disabled] {
  background-color: #d1d1d1;
  cursor: not-allowed;
}

.bi-star:hover,
.bi-star:hover ~ .bi-star,
.bi-star-fill:hover,
.bi-star-fill:hover ~ .bi-star,

.bi-star-fill:hover ~ .bi-star-fill {
    color: #b08d57 !important;
    cursor: pointer;
}


.bi-star-fill {
    color: #b08d57;
}


.bi-star {
    color: black;
    cursor: pointer;
}

.custom-select {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.custom-select:hover, .custom-select:focus {
  border: 1px solid #b22222;
  box-shadow: 0 0 5px rgba(178, 34, 34, 0.5);
}

.custom-select:first-child {
  margin-top: 1rem;
  margin-right: 1rem;
}



.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #b22222;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
