.custom-logout-button {
  background-color: #8B0000;
  color: #fff;
  border: none;
}

.custom-logout-button:hover {
  background-color: #DC143C;
}

.navbar-custom {
  background-color: #b08d57;
  height: 70px !important;
}

.navbar-nav li {
  display: flex;
  align-items: center;
}

a:hover {
  cursor: pointer;
}

.welcomeMessage {
  margin-right: 20px;
}
