.custom-logout-button {
  background-color: #8B0000;
  color: #fff;
  border: none;
}

.custom-logout-button:hover {
  background-color: #DC143C;
}

.navbar-custom {
  background-color: #b08d57;
  height: 70px !important;
}

.navbar-nav li {
  display: flex;
  align-items: center;
}

.navbar-nav li:not(:last-child) {
  margin-right: 20px;
}

a:hover {
  cursor: pointer;
}

.welcomeMessage {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 20px;
  color: black;
}

.profile-link {
  margin: 0 20px;
}
