.custom-logout-button {
  background-color: #DC143C; /* Questo è il colore rosso pompeiano */
  color: #fff; /* Colore del testo */
  border: none; /* Rimuovi il bordo */
}

.custom-logout-button:hover {
  background-color: #8B0000; /* Cambia il colore al passaggio del mouse, se lo desideri */
}
