.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-name {
  font-weight: bold;
  flex: 3;
}

.menu-item-description {
  flex: 4;
  color: #888;
}

.menu-item-price {
  flex: 1;
  text-align: right;
}

.categorie {
   background-color: #8B0000;
   border-radius: 10px;
}
