<div class="container-fluid">
<div *ngIf="currentUser;">
  <h1>Benvenuto, {{ currentUser.name }}</h1>
  <p>Email: {{ currentUser.email }}</p>
  <p>Username: {{ currentUser.username }}</p>

  <div class="button-group">
    <button (click)="showGastronomie = !showGastronomie">Mostra Gastronomie Preferite</button>
    <button (click)="showRecensioni = !showRecensioni">Mostra Recensioni Utente</button>
    <button (click)="showPrenotazioni = !showPrenotazioni">Mostra Prenotazioni Utente</button>
  </div>

  <!-- GASTRONOMIE PREFERITE -->
<div *ngIf="showGastronomie" class="section mt-4">
  <h2>Gastronomie Preferite</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let gastronomia of currentUser.gastronomie_preferite">
      <div class="card mb-4">
        <img [src]="gastronomia.imageUrl" alt="{{ gastronomia.nome }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ gastronomia.nome }}</h5>
          <p class="card-text"><strong>Indirizzo:</strong> {{ gastronomia.indirizzo }}</p>
          <p class="card-text"><strong>Telefono:</strong> {{ gastronomia.telefono }}</p>
          <p class="card-text"><strong>Prezzo Medio:</strong> {{ gastronomia.prezzoMedio | currency:'EUR' }}</p>
          <p class="card-text"><strong>Descrizione:</strong> {{ gastronomia.descrizione }}</p>
          <p class="card-text"><strong>Tipo Gastronomia:</strong> {{ gastronomia.tipoGastronomia }}</p>
          <button (click)="onDeleteGastronomiaPreferita(gastronomia.id)" class="btn btn-danger">Elimina dai preferiti</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- RECENSIONI UTENTE -->
  <div *ngIf="showRecensioni" class="section">
    <h2>Recensioni dell'utente:</h2>
    <ul>
      <li *ngFor="let recensione of currentUser.recensioni">
        <div>
          <strong>Data:</strong> {{ recensione.data }}
        </div>
        <div>
          <strong>Valutazione:</strong> {{ recensione.valutazione }}
        </div>
        <div>
          <strong>Commento:</strong> {{ recensione.commento }}
        </div>
        <hr>
      </li>
    </ul>
  </div>

  <!-- PRENOTAZIONI UTENTE -->
  <div *ngIf="showPrenotazioni" class="section">
    <h2>Prenotazioni Utente</h2>
    <div *ngFor="let prenotazione of currentUser.prenotazioni">
      <p><strong>Data Prenotazione:</strong> {{ prenotazione.dataPrenotazione }}</p>
      <p><strong>Ora Prenotazione:</strong> {{ prenotazione.oraPrenotazione }}</p>
      <p><strong>Nota:</strong> {{ prenotazione.nota }}</p>
      <hr>
    </div>
  </div>
</div>
