body {
  background-color: #fefefe;
  font-family: 'Cinzel', serif;
}

.primary-color {
  color: #8B0000;
}

.card {
  border-radius: 15px;
  transition: all 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #fdfdfe;
}

.btn-danger {
  background-color: #8B0000;
}

.card-title {
  color: red;
}


