<div class="container-fluid my-5 sfondo">
  <div *ngIf="currentUser" class="profile-section">
    <h1>Benvenuto, <strong>{{ currentUser.name }}</strong></h1>
    <div class="user-info mt-4">
      <p><i class="bi bi-envelope-open-fill"></i> Email: <strong>{{ currentUser.email }}</strong></p>
      <p><i class="bi bi-person-square"></i>Nome: <strong>{{ currentUser.name }}</strong></p>
      <p><i class="bi bi-person-square"></i>Cognome: <strong>{{ currentUser.surname }}</strong></p>
      <p><i class="bi bi-telephone-fill"></i> Numero telefono: <strong>{{ currentUser.numeroTelefono }}</strong></p>
    </div>

    <div class="button-group mt-4">
      <button (click)="showGastronomie = !showGastronomie" class="btn btn-danger">Gastronomie Preferite</button>
      <button (click)="showRecensioni = !showRecensioni" class="btn btn-danger">Recensioni Utente</button>
      <button (click)="showPrenotazioni = !showPrenotazioni" class="btn btn-danger">Prenotazioni Utente</button>
    </div>
  </div>
<!-- GASTRONOMIE PREFERITE -->
<div *ngIf="showGastronomie" class="section mt-4">
  <h2 class="text-center"><strong>Gastronomie Preferite</strong></h2>
  <div class="row">
    <div class="col-md-6 my-3" *ngFor="let gastronomia of currentUser.gastronomie_preferite.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage)">
      <div class="card mx-2 h-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img [src]="gastronomia.imageUrl" alt="{{ gastronomia.nome }}" class="card-img-left">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>{{ gastronomia.nome }}</strong></h5>
              <p class="card-text"><strong>Indirizzo:</strong> {{ gastronomia.indirizzo }}</p>
              <hr>
              <p class="card-text"><strong>Telefono:</strong> {{ gastronomia.telefono }}</p>
              <hr>
              <p class="card-text"><strong>Prezzo Medio:</strong> {{ gastronomia.prezzoMedio | currency:'EUR' }}</p>
              <hr>
              <p class="card-text"><strong>Descrizione:</strong> {{ gastronomia.descrizione }}</p>
              <hr>
              <p class="card-text"><strong>Tipo Gastronomia:</strong> {{ gastronomia.tipoGastronomia }}</p>
              <hr>
              <button (click)="onDeleteGastronomiaPreferita(gastronomia.id)" class="btn btn-danger"> <i class="bi bi-trash-fill"></i>Rimuovi</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottoni di paginazione -->
  <div class="mt-5 text-center">
   <button class="btn-customPage" (click)="previousPage()" [disabled]="currentPage === 0">Precedente</button>
   <button class="btn-customPage" (click)="nextPageGastronomiaPref()"
     [disabled]="(currentPage + 1) * itemsPerPage >= currentUser.recensioni.length">Successivo</button>
  </div>
</div>

    <!-- RECENSIONI UTENTE -->
    <div *ngIf="showRecensioni" class="section">
      <h2 class="text-center"><strong>Recensioni dell'utente:</strong></h2>
      <ul>
        <li
          *ngFor="let recensione of currentUser.recensioni.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage)">
          <div>
            <strong>Data:</strong> {{ recensione.data }}
          </div>
          <div>
            <strong>Valutazione:</strong> {{ recensione.valutazione }}
          </div>
          <div>
            <strong>Commento:</strong> {{ recensione.commento }}
          </div>
          <hr>
        </li>
      </ul>

      <!-- Bottoni di paginazione -->
      <div class="text-center">
      <button class="btn-customPage" (click)="previousPage()" [disabled]="currentPage === 0">Precedente</button>
      <button class="btn-customPage"  (click)="nextPage()"
        [disabled]="(currentPage + 1) * itemsPerPage >= currentUser.recensioni.length">Successivo</button>
      </div>
    </div>

<!-- PRENOTAZIONI UTENTE -->
<div *ngIf="showPrenotazioni" class="section my-3">
  <h2 class="text-center"><strong>Prenotazioni Utente:</strong></h2>
  <div class="row">
    <div *ngFor="let prenotazione of currentUser.prenotazioni" class="col-md-4 my-2">
      <div class="card">
        <div class="card-body">
          <p><strong>Nome gastronomia:</strong> {{ prenotazione.gastronomia }}</p>
          <p><strong>Data Prenotazione:</strong> {{ prenotazione.dataPrenotazione }}</p>
          <p><strong>Ora Prenotazione:</strong> {{ prenotazione.oraPrenotazione }}</p>
          <p><strong>Numero persone:</strong> {{ prenotazione.numeroPersone }}</p>
          <p><strong>Nota:</strong> {{ prenotazione.nota }}</p>
          <div class="button-group d-flex justify-content-start mb-3">
            <button (click)="editingPrenotazioneId = prenotazione.id" *ngIf="editingPrenotazioneId !== prenotazione.id" class="btn btn-primary mx-2"><i class="bi bi-pencil-fill"></i> Modifica</button>
            <button (click)="onDeletePrenotazione(prenotazione.id)" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Elimina</button>
          </div>


        <!-- FORM MODIFICA PRENOTAZIONE -->
        <div *ngIf="editingPrenotazioneId === prenotazione.id">
          <div class="mt-4">
            <div class="card-header custom-color text-black">
              Modifica Prenotazione
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label for="dataPrenotazione" class="form-label">Data:</label>
                  <input [(ngModel)]="updatedData.dataPrenotazione" type="date" name="dataPrenotazione"
                    class="form-control" id="dataPrenotazione">
                </div>

                <div class="mb-3">
                  <label for="oraPrenotazione" class="form-label">Ora:</label>
                  <input [(ngModel)]="updatedData.oraPrenotazione" type="time" name="oraPrenotazione"
                    class="form-control" id="oraPrenotazione">
                </div>

                <div class="mb-3">
                  <label for="numeroPersone" class="form-label">Numero di persone:</label>
                  <input [(ngModel)]="updatedData.numeroPersone" type="number" name="numeroPersone" min="1"
                    class="form-control" id="numeroPersone">
                </div>

                <div class="mb-3">
                  <label for="note" class="form-label">Note:</label>
                  <textarea [(ngModel)]="updatedData.nota" name="note" class="form-control" id="note"
                    rows="3"></textarea>
                </div>
              </form>
              <div class="button-group">
                <button (click)="onSubmitUpdate(prenotazione.id)" class="btn btn-success">Conferma</button>
                <button (click)="editingPrenotazioneId = null" class="btn btn-danger">Annulla</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
  <!-- Bottoni di paginazione -->
  <div class="mt-5 text-center">
    <button class="btn-customPage" (click)="previousPage()" [disabled]="currentPage === 0">Precedente</button>
    <button class="btn-customPage" (click)="nextPagePrenotazioni()"
      [disabled]="(currentPage + 1) * itemsPerPage >= currentUser.recensioni.length">Successivo</button>
  </div>
</div>
</div>



