.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;

  .content-box {
      background: #ffffff;
      padding: 40px 60px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      text-align: center;

      h1 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
      }

      h2 {
          font-size: 1.5rem;

          .action-link {
              color: #007bff;
              text-decoration: none;
              margin: 0 5px;

              &:hover {
                  text-decoration: underline;
              }
          }
      }
  }
}
