.homepage-container {
    display: flex;
    flex-direction: column;
    gap: 2rem; // distanza tra i blocchi
    padding: 3rem 5%; // un piccolo padding laterale per respirare
    background-color: #f2f2f2;
    font-family: 'Cinzel', serif;

    .content-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        &.intro-row {
            flex-direction: row-reverse; // inverte l'ordine di immagine e testo per la sezione di introduzione
        }

        .content-image, .content-grid {
            flex: 1;
            max-width: 50%; // metà dello spazio disponibile

            img {
                max-width: 100%;
                border-radius: 10px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .content-text {
            flex: 1;
            max-width: 50%; // metà dello spazio disponibile
            padding: 2rem;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }



}
