<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center">

      <div class="col-md-4 text-center">
        <h5><strong>Collegamenti Utili</strong></h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white"><i class="bi bi-house-door mx-2"></i>Home</a></li>
          <li><a href="#" class="text-white"><i class="bi bi-list-check mx-2"></i>Menu</a></li>
          <li><a href="#" class="text-white"><i class="bi bi-envelope-open mx-2"></i>Contattaci</a></li>
          <li><a href="#" class="text-white"><i class="bi bi-calendar-check mx-2"></i>Prenota un tavolo</a></li>
        </ul>
      </div>

      <div class="col-md-4 text-center">
        <h5><strong>Contatti</strong></h5>
        <address>
          Via Roma, 123<br>
          00100 Roma, Italia<br>
          Tel: +39 06 12345678<br>
          Email: info@gastronomiaromana.it
        </address>
      </div>

      <div class="col-md-4 text-center">
        <h5><strong>Seguici sui Social</strong></h5>
         <a href="https://github.com/lucawar" class="text-white mx-3" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/luca-guerra-505654143/" class="text-white mx-3" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="text-white mx-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white mx-3"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-white mx-3"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    © 2023 Gastronomia Romana. Tutti i diritti riservati.
  </div>
</footer>
