<div class="register-form">
  <input [(ngModel)]="username" placeholder="Username" />
  <input [(ngModel)]="name" placeholder="Nome" />
  <input [(ngModel)]="surname" placeholder="Cognome" />
  <input [(ngModel)]="email" placeholder="Email" />
  <input [(ngModel)]="password" type="password" placeholder="Password" />
  <input [(ngModel)]="numeroTelefono" placeholder="Numero di Telefono" />
  <button (click)="register()">Registrati</button>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
